@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 13, 17, 22;

    --muted: 241, 245, 249;
    --muted-foreground: 6, 7, 9;

    --popover: 246, 248, 250;
    --popover-foreground: 72, 79, 88;

    --card: 255, 255, 255;
    --card-foreground: 13, 17, 22;

    --border: 200, 209, 217;
    --input: 200, 209, 217;

    --primary: 13, 17, 22;
    --primary-foreground: 248, 250, 252;

    --secondary: 241, 245, 249;
    --secondary-foreground: 13, 17, 22;

    --accent: 200, 209, 217, 0.3;
    --accent-foreground: 13, 17, 22;

    --destructive: 255, 0, 0;
    --destructive-foreground: 248, 250, 252;

    --ring: 200, 209, 217;

    --radius: 0.5rem;
  }

  .dark {
    --background: 13, 17, 22;
    --foreground: 240, 246, 252;

    --muted: 15, 22, 41;
    --muted-foreground: 255, 255, 255;

    --popover: 25, 29, 34;
    --popover-foreground: 240, 246, 252;

    --card: 255, 255, 255;
    --card-foreground: 13, 17, 22;

    --border: 48, 54, 61;
    --input: 48, 54, 61;

    --primary: 248, 250, 252;
    --primary-foreground: 13, 17, 22;

    --secondary: 13, 17, 22;
    --secondary-foreground: 240, 246, 252;

    --accent: 48, 54, 61;
    --accent-foreground: 240, 246, 252;

    --destructive: 0 63% 31%;
    --destructive-foreground: 240, 246, 252;

    --ring: 109, 118, 129;

    --radius: 0.5rem;
  }

  .input {
    @apply w-full
    rounded-md
    border
    border-gray-100
    bg-[rgba(var(--popover))]
    px-4
    py-3
    placeholder-gray-400
    outline-none
    
    ring-offset-background
    placeholder:absolute
    placeholder:z-0

    placeholder:mt-[2px]

    hover:transition
    focus:border-gray-100
    focus:placeholder-gray-400/70

    focus:ring-2
    focus:ring-ring

    focus:ring-offset-2
    active:placeholder-gray-400/70
    disabled:cursor-default

    disabled:bg-gray-300
    dark:border-gray-600
    dark:bg-white/5
    dark:focus:border-gray-400;
  }

  .input-error {
    @apply border-red-600;
  }

  .icon {
    @apply h-5 w-5;
  }

  .icon-error {
    @apply text-red-500;
  }

  .icon-button {
    @apply h-7 w-7 cursor-pointer rounded p-1.5 duration-150 ease-out hover:bg-gray-900/10 dark:hover:bg-gray-500;
  }

  .popup-item {
    @apply hover:!bg-blue-300;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
